@model OpenDiscussion.Models.ApplicationUser
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@using (Html.BeginForm(actionName: "Edit", controllerName: "Users",
       method: FormMethod.Post, routeValues: new { id = @Model.Id }))
{

    <i class="bi bi-person"></i>
    @Html.Label("UserName", "Nume utilizator", new { @class = "" })
    <br />
    <br />

    @Html.EditorFor(m => m.UserName)
    <br />
    <br />

    <i class="bi bi-envelope"></i>
    @Html.Label("Email", "Email utilizator", new { @class = "" })
     <br />
    <br />

    @Html.EditorFor(m => m.Email)
    <br />
    <br />
    <i class="bi bi-card-list"></i>
    <label>Selectati rolul</label>
    @Html.DropDownList("newRole", new SelectList(Model.AllRoles, "Value", "Text", ViewBag.UserRole), null, new { @class = "form-control" })

    <br />

    <button class="id-buton-outline btn" type="submit">Editare user</button>


}