@model OpenDiscussion.Models.ApplicationUser

<div class="d-flex flex-row" style="width: auto!important">
    <div class="p-2">
        <div class="card" style="width:fit-content">
            <div class="card-img-top p-3" style="width: 250px; height: 250px">
                <img src="@Model.Profile.Avatar" class="img-fluid w-100 h-100 shadow" alt="...">
            </div>
            <div class="card-body">
                <h5 class="card-title">@Model.DisplayName</h5>
                <p class="card-text">@Model.Profile.Description</p>
                <p>Member since: @Model.DateOfCreation</p>
                <p>Posts: @Model.DiscussionCount</p>
                <p>Comments: @Model.CommentCount</p>
            </div>
            </br>
        </div>
        </br>

        @if (ViewBag.AfisareButoane == true)
        {
            <form method="post" action="/Profiles/Show/@Model.Profile.ProfileId">
                @Html.Label("Profile.Avatar")
                <br />
                @Html.TextBoxFor(m => m.Profile.Avatar)
                <br />
                <br />
                @Html.Label("Profile.Description")
                <br />
                @Html.TextBoxFor(m => m.Profile.Description)
                <br />
                <br />
                <button type="submit" class="id-buton-outline btn">Salveaza modificari</button>
            </form>
        }
    </div>
    <div class="p-2" style="margin-left: 40px; width: 100%">
        @foreach (Discussion discCom in ViewBag.DiscComments)
        {
            <a href="/Discussions/Show/@discCom.DiscussionId" style="text-decoration: none; color: black;">
            <div class="card" class="p-2">
                <div class="card-body" style="display:border-box; width: auto!important">
                    <h3>@discCom.Title</h3>
                            @foreach (Comment comment in discCom.Comments)
                            {
                                @if (comment.UserId == Model.Id)
                                {
                                    <div class="card" class="p-2">
                                        <div class="card-body" style="display:border-box; width: auto!important">
                                            <p>@comment.Content<p>
                                            <small>@comment.Date</small>
                                            <small>@comment.User.UserName</small>
                                        </div>
                                    </div>
                                    <br/>
                                }
                            }
                            <br />
                </div>
            </div>
            </a>
            <br />
        }
    </div>

