@model OpenDiscussion.Models.Discussion
<br/>

<div class="d-inline-flex"> 
    <a class="id-buton-outline btn" href="/Topics/Index/@ViewBag.DiscussionCategoryId">Inapoi</a>

    <a class="id-buton-outline btn" style="margin-left: 20px;" href="/Discussions/New/@ViewBag.DiscussionTopicId">Adauga o noua discutie</a>
</div>

<br />
<br />

<form method="GET">
    <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Cauta discutii sau cuvinte cheie" name="search" value="@ViewBag.SearchString" />
        <button class="id-buton-outline btn" type="submit">Search</button>
    </div>
</form>

<div style="float:right">
<form method="post" id="SortedData" action="/Discussions/Sorted/@ViewBag.DiscussionTopicId">
    <input type="radio" name="Sort" value="Date"/> Data  
    <input type="radio" name="Sort" value="Comments"/>   Nr.Comentarii
        <button class="id-buton-outline btn" type="submit" />Ordoneaza dupa</button>
</form>
</div>
<br/>
<br/>
@if (TempData.ContainsKey("Message"))
{
    <p>@TempData["Message"]</p>
    <br/>
}

<p>@ViewBag.NotFound</p>

@foreach(OpenDiscussion.Models.Discussion discussion in ViewBag.Discussions) {
    <a href="/Discussions/Show/@discussion.DiscussionId" class="text-decoration-none text-muted">
        @Html.Partial("Card", discussion)
    </a>
}

<div>
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item">
                <a class="page-link" href="/Discussions/Index/@ViewBag.DiscussionTopicId?page=1" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            @for (int i = 1; i <= ViewBag.lastPage; i++)
            {
                <li class="page-item">
                    <a class="page-link" href="/Discussions/Index/@ViewBag.DiscussionTopicId?page=@i">@(i)</a>
                </li>
            }
            <li class="page-item">

                <a class="page-link" href="/Discussions/Index/@ViewBag.DiscussionTopicId?page=@(ViewBag.lastPage)" arialabel="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
</div>
